<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<resultMap type="Manager" id="manager_rm">
	
		<id property="managerNumber" column="manager_number"/>
		
		<result property="managerName" column="manager_name"/>
		<result property="managerHireDate" column="manager_hire_date"/>
		
	</resultMap>
	
	<insert id="createManager">
		INSERT INTO manager
		VALUES(SEQ_manager_number, '%${inputManager}%')
	</insert>	
	
  	<select id="readManager" resultMap="manager_rm">
  		SELECT * FROM manager
		WHERE manager_name = #{managerName}
  	</select>
  	
  	<update id="updateManager">
  		UPDATE manager SET
  		WHERE manager_name = #{managerName}
  	</update>
  	
  	<delete id="deleteManager">
  		DELETE FROM manager
  		WHERE manager_name = #{managerName}
  	</delete>
  
</mapper>
